html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #08090b;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}
